.card{

  border: 1px solid rgba(255, 0, 0, 0.459);
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  padding: 20px;
  text-align: center;
  max-width: fit-content;
  display: inline-block


}

.card .card_img{

border-radius: 10%; 


}
